body {
    margin: 0;
    padding: 0;
	overflow: hidden;
}

.banner {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.banner video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.content {
    position: relative;
    margin-top: 20%;
    max-width: 1000px;
    text-align: center;
    margin-left: auto;
    margin-right: auto
}

.banner .content h1.H1class {
    margin: 0;
    padding: 0;
    font-size: 5em;
    text-transform: uppercase;
    color: black;
}

.banner .content p {
    margin: 0;
    padding: 0;
    font-size: 2em;
    color: #000000;
}

img {
    margin: 50px;
}

svg {
    margin: 50px;
}

p {
    color: black;
    font-family: Calibri, sans-serif;
}

h1 {
    color: black;
    font-size: 10vw;
    font-family: Helvetica, sans-serif;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.cutton {
display: block;
width: 200px;
background: #4E9CAF;
padding: 3px;
text-align: center;
border-radius: 5px;
color: white;
font-weight: bold;
}

.openbtn {
    font-size: 30px;
    background-color: transparent;
    position: absolute;
    border: none;
    cursor: pointer;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.container {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;

}

@media only screen and (min-width: 320px) and (max-width: 720px) {

svg {
    margin: 15px;
} 
}

